*{
    margin: 0%;
    padding: 0%;
}

.cabecalho{
    background-color: #383c57;
    color:rgb(164, 250, 152);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0 ;
}
.cabecalho-item{
    display: inline-block;
    padding: 0 25px;
}
.escola-imagem{
    width: 20%;
}
.bad luck club{
    background-image: linear-gradient(#383c57, #ffffff);
    color:rgb(218, 220, 245);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 55px 0;
}
.bad luck club-conteudo{
    background-color: #383c57;
    width: 30%;
    color: #191f30;
}
.bad luck club-titulo{
    background-color: #383c57;
    padding: 40px 0;
    color: #383c57;
}
.perfil{
    background-color: #383c57;   
}
.estudante-imagem{
    padding: 20px 0 ;
    width: 200px;    
}
.estudante-icone{
    width: 24px;
    padding: 20px 0;
}
.escola-div{
    text-align: center;
}
.estudante-titulo{
    background-color: #676979;
    text-align: center;
    padding: 30px 0;
    color: #101220;
}
.estudante-todos{
    background-color: #676979;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    padding: 30px 0;
    color: rgb(22, 30, 48);
}
.rodape{
    background-color: #75ff7c;
    color:#2f3358;
    padding: 12px 0;
    text-align: center;
}
    .cabecalho-imagem{
        width: 20%;
    }
  .site-conteudo{
    background-color: #6dff91;
    text-align: center;
    color: #26294d;

  }

    